h1 {
  color: #dbdbdb;
  font: 34px "Times New Roman", sans-serif;
}

p {
  color: #eeeeee;
  font: 16px "Times New Roman", serif;
  padding-bottom: 25px;
}

[tabindex] {
   outline: none !important;
}

body {
  margin: 40px;
  max-width: 700px;
  background-color: black;
  padding-bottom: 25px;
}

.innerFBOXtext{
  position: absolute;
  color: #eeeeee;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
.fbox {
  background: black;
  padding: 1rem;
  position: relative;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: all .4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.fbox::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.fbox:hover {
  -webkit-transform: scale(1.1) rotate(0.01deg);
  transform: scale(1.1) rotate(0.01deg);
  /* background-color: #005234; */
}
.fbox:active {
  /* background-color: #003366;*/
}
.fbox:active .innerFBOXtext {
  display: block; 
}
.fbox:hover .innerFBOXtext {
  display: block;
}

.fbox.cat{
  background-image: url('SW.jpg');
}
.fbox.cat:hover{
  background-image: url('SW_BLUR.jpg');
}

.fbox.one{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/arch-daily.png");
}
.fbox.one:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/arch-daily.png");
}

.fbox.two{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architectural-digest.png");
}
.fbox.two:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architectural-digest.png");
}

.fbox.three{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architizer.png");
}
.fbox.three:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architizer.png");
}

.fbox.four{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/car-and-driver.png");
}
.fbox.four:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/car-and-driver.png");
}

.fbox.five{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/contemporist.png");
}
.fbox.five:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/contemporist.png");
}

.fbox.six{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/dwell.png");
}
.fbox.six:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/dwell.png");
}

.fbox.seven{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/houzz.png");
}
.fbox.seven:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/houzz.png");
}

.fbox.eight{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/hypebeast.png");
}
.fbox.eight:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/hypebeast.png");
}

.fbox.nine{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/interior-design.png");
}
.fbox.nine:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/interior-design.png");
}

.fbox.ten{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/los-angeles-times.png");
}
.fbox.ten:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/los-angeles-times.png");
}

.fbox.eleven{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/metropolitan-home.png");
}
.fbox.eleven:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/metropolitan-home.png");
}

.fbox.twelve{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architectural-digest.png");
}
.fbox.twelve:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architectural-digest.png");
}

.fbox.thirteen{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architectural-digest.png");
}
.fbox.thirteen:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architectural-digest.png");
}

.fbox.fourteen{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architectural-digest.png");
}
.fbox.fourteen:hover{
  background-image: url("https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architectural-digest.png");
}
